body 
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.titluri
{
    display: center;
    font-size: 16px;
}

.container 
{
    position: absolute;
    top: 20%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #000000;
    width: 50% ;
    text-align: center;
    background-color:bisque;
    justify-content: center;
}

.slide{
    border-radius: 15px; 
}

table 
{
    margin: 0 auto; /* Centrare pe orizontală */
    border-collapse: collapse;
    width: 80%; /* Poți ajusta lățimea după preferință */
    background-color: antiquewhite;
}

.slideshow-container {
    position: relative;
    max-width: 600px; 
    margin: auto;
    overflow: hidden; 
}

.slide {
    display: none;
    width: 100%;
    position: relative; 
}

